<nav class="flex h-20 justify-between">
  <%= image_tag 'logo_normal.png' %>
  <div class="flex items-center">
    <%= render 'preferences/dark_mode_switch' %>
    <%= render 'preferences/language_select' %>
  </div>
</nav>
