<nav class="flex h-24 justify-between px-5 py-3 items-center">
  <%= image_tag 'logo_without_bg.png', class: 'h-8 md:h-14' %>
  <div class="flex items-center">
    <%= render 'preferences/dark_mode_switch' %>
    <%= render 'preferences/language_select' %>
  </div>
</nav>
