<div class="flex flex-row justify-between toggle-dark-mode mr-2 md:mr-5" data-controller="dark-mode" data-dark-mode-color-value="<%= session[:scheme_color] %>">
  <label for="dark_toggle" class="flex items-center cursor-pointer" data-action="click->dark-mode#toggle">
    <div class="relative">
      <%= check_box_tag(:dark_toggle, nil, session[:scheme_color] == 'dark', class: 'checkbox hidden', data: { dark_mode_target: 'switch'}) %>
      <div class="block shadow-inner bg-gray-100 dark:bg-slate-700 w-14 h-8 rounded-full " style=""></div>
      <div class="switch-dot absolute left-1 top-1 bg-yellow-400 w-6 h-6 rounded-full transition text-center " data-dark-mode-target="iconContainer">
        <i class="fa-regular <%= session[:scheme_color] == 'dark' ? 'fa-moon text-black' : 'fa-sun text-white' %>"></i>
      </div>
    </div>
  </label>
</div>
