<div class="rounded relative" data-controller="language">
  <button class="bg-gray-100 dark:bg-gray-500 p-1 rounded w-14" data-action="click->language#toggle">
    <span><%= selected_locale_flag %></span>
  </button>
  <ul class="bg-gray-100 dark:bg-gray-500 p-1 rounded hidden absolute top-10 left-0 w-14 text-center" data-language-target="list">
    <li><%= link_to '🇺🇸 EN', preferences_set_locale_path(locale: 'en') %></li>
    <li><%= link_to '🇪🇸 ES', preferences_set_locale_path(locale: 'es') %></li>
  </ul>
</div>